.people {
  border-radius: 10px;
  background: #fff;
  display: block;
  padding: 50px;

  @media only screen and (max-width: 767px) {
    display: block;
    padding: 20px;
  }

  .slick-prev {
    left: 97.1%;
    z-index: 1;
    padding: 18px 22px;
    top: 113%;
    border-radius: 10px 0 0 0;
    box-shadow: none;
    background-color: #16eb96 !important;

    @media only screen and (min-width: 1280px) and (max-width: 1439px) {
      left: 46%;
    }

    @media only screen and (max-width: 767px) {
      left: 65%;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      left: 42%;
      bottom: 90px !important;
    }

    &::before {
      content: url("../../themes/wunderdogs/assets/images/right-arrow.svg");
      transform: rotate(180deg);
      position: absolute;
      right: 0;
      z-index: 9999999999999;
      width: 18px;
      top: 6px;
      left: 10px;
    }
  }

  .slick-next {
    right: -49px;
    z-index: 1;
    top: 113%;
    position: absolute;
    bottom: -68px;
    box-shadow: none;
    padding: 18px 22px;
    border-radius: 0 0 10px 0;
    background-color: #16eb96 !important;

    @media only screen and (max-width: 767px) {
      right: 10%;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      bottom: 90px !important;
    }

    &::before {
      content: url("../../themes/wunderdogs/assets/images/right-arrow.svg");
      position: absolute;
      right: 0;
      z-index: 9999999999999;
      width: 18px;
      color: #16eb96;
      top: 9px;
      left: 12px;
      // targets edge browser only
      @supports (-ms-ime-align: auto) {
        content: url(">");
      }
    }
  }

  .slick {
    &-prev,
    &-next,
    &-dots {
      bottom: 0;

      @media only screen and (max-width: 767px) {
        bottom: 20px;
      }

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        bottom: 150px;
      }

      @media screen and (min-width: 1800px) {
        bottom: 0;
      }
    }
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .sb-slider.slick-initialized.slick-slider {
    @media only screen and (max-width: 767px) {
      margin-left: 85px;
    }
  }

  .slick-dots {
    padding-left: 0;
    text-align: center;
    position: relative;

    @media only screen and (max-width: 1024px) {
      padding-left: 0;
      bottom: -61px;
      z-index: 999999999999999999;
    }
    li.slick-active > button {
      background-color: #16eb96;
    }
  }

  &__left-right {
    display: flex !important;
    cursor: pointer;

    @media only screen and (max-width: 767px) {
      display: block !important;
    }
  }

  &__left {
    width: 15%;
    padding: 0px;
    margin: auto;
    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  &__center {
    width: 15%;
    margin: auto;
    padding: 0 32px;
    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin: unset;
      padding: 10px 0;
    }
  }

  &__right {
    width: 70%;
    margin-top: 50px;
    box-shadow: 0 0 0 0 #dae2f0;
    margin: auto;
    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin: unset;
    }
  }
  &__post-name {
    font-size: 20px;
    font-weight: 700;
    font-family: "Apercu Pro";
    color: #1f1f1f;
    text-transform: uppercase;
  }
  &__post-title {
    font-size: 14px;
    font-weight: normal;
    font-family: "Fugue";
    color: #1f1f1f;
    padding: 5px 0 0 0;
  }

  &__featured-img {
    z-index: 1;

    img {
      width: 100%;
      object-fit: cover;

      @media only screen and (max-width: 767px) {
        box-shadow: none;
      }
    }
  }
}

.people_divider {
  height: 1px;
  width: 91px;
  background: #1f1f1f;
  margin: 10px 0;
}
button.slick-next.slick-arrow {
  background-color: #16eb96;
}
.elementor-button-text {
  font-family: "Apercu Pro" !important;
}

#stubborn_image > img {
  width: 1024px !important;
}

#lets_talk {
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#lets_talk:hover {
  cursor: pointer;
  > img svg{
    fill: #16eb96;
  }
}

#lets_talk.show {
  opacity: 1;
  visibility: visible;
}
