//team

.team {
  margin-bottom: 50px;

  &-pub {
    width: 100%;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    &-wrapper {
      display: block;
      width: 100%;
      @media only screen and (max-width: 767px) {
        display: block;
        width: 100%;
      }
    }
    &__card {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      max-width: 100%;
      margin: 0 auto;

      @media only screen and (max-width: 767px) {
        display: block;
        max-width: 100%;
      }

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        max-width: 90%;
      }

      &-wrapper {
        width: 25%;
        flex-basis: auto;
        padding-right: 15px;
        @media only screen and (max-width: 1024px) {
          width: 100%;
        }
      }
      &-bottom-wrapper {
        padding: 15px 0 15px 15px;
        a {
          text-decoration: underline;
          font-family: "Apercu Pro";
          color: #16eb96;
          font-size: 18px;
          text-transform: uppercase;
          @media only screen and (max-width: 1024px) {
            font-size: 14px;
          }
        }
        p {
          margin-bottom: 0;

          &:nth-child(1) {
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            font-family: "Apercu Pro" !important;
            color: #fff;
            text-transform: uppercase;
          }
          &:nth-child(2) {
            font-weight: 400;
            font-family: "Fugue" !important;
            color: #16eb96;
            font-size: 18px;
          }
          &:nth-child(3) {
            line-height: 20px;
            font-weight: 700;
            font-family: "Apercu Pro" !important;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
          }
        }
      }
    }
    &__filter {
      margin: 0 auto;
      padding: 0;
      margin-bottom: 50px;
      margin-left: 10px;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        overflow: inherit;
      }

      &-container {
        width: 100%;
        display: flex;
        @media only screen and (max-width: 1024px) {
          display: block;

        }
      }

      &-title {
        font-size: 16px;
        line-height: 1.75;
        margin-right: 0;
      }

      p {
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        font-family: "Apercu Pro" !important ;
        text-transform: uppercase;
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          padding: 0 10px;
          margin: 0 10px;
        }

        &:hover,
        &:active,
        &:focus {
          text-decoration: underline;
          color: #16eb96;
        }
      }

      a {
        user-select: none;
        outline: none;
        display: inline-block;
        padding: 0 35px 0 0;
        @media only screen and (max-width: 1024px) {
          display: block;

        }
      }
      a.selected {
        text-decoration: underline;
        color: #16eb96;
        p {
          color: #16eb96;
          text-decoration: underline;
        }
      }
    }
  }
}

a {
  outline: 0 !important;
}
object, embed {
  outline: 0;
}
input::-moz-focus-inner {
  border: 0;
}
